/*------------------
 header section style
 ------------------- */
.main{
    width: 100%;
    height: 1225px;
    background: #FF900E1A;
}
/*------------------------ nav style----------------------- */
.nav-title{
    position: relative;
    left: 120px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    margin-top: 35px;

}
nav{
    display: flex;
    justify-content: space-between;

}
ul{
    margin-right: 100px;
    margin-top: 20px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-top: 48px;
    
}
.nav-menu{
    list-style: none;
    display: inline;
    margin: 20px;
}

/*-----------------------------
 banner style
 ----------------------------- */  
.banner{
    justify-content: center;
}
.banner-title{
    text-align: center;
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 28px;
}
.banner-descriptio{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #333131;
    margin-bottom: 30px;
}
.banner-bttn{
    position: absolute;
    margin-left: 42%;
    width: 180px;
    height: 60px;
    background: #FF900E;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}
.image-banner{
    top: 570px;
}
.banner-img{
    position: absolute;
    top: 500px;
    width: 1335px;
    border-radius: 10px;
}
/* ====================
banner style end
======================== */

/* ==================
second section style start
========================= */
.section-second{
    display: flex;
}
/* =================================
second-section images style
=================================== */
.second-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    width: 500px;
    height: 500px;  
    margin-left: 10%; 
    margin-top: 40px;
    border-color: aliceblue;
    border-radius: 10px;
    gap: 12px;
}
.second-images-1{
    width: 245px;
    height: 245px;
}
.second-images-2{
     width: 245px;
    height: 245px;
}
.second-images-3{
    width: 245px;
   height: 245px;
}
.second-images-4{
    width: 245px;
   height: 245px;
}
/* ==================
second section images style end
 ========================*/

 /* ================
 second section text style
 ======================= */
 .second-title{
    margin-left: 50px;
    margin-top: 180px;
 }
 #quick-list{
    color: #727272;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
 }
 #of-our{
    color: #131313;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin-left: 6px;

 }
 #features{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #FF900E;
 }
.second-description{
    margin-left: 50px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
/* ================
second section text style ends
=========================== */

.second-bttn{
    margin-left: 50px;
    width: 140px;
    height: 40px;
    color: white;
    font-size: 15px;
    text-align: center;
    background: #FF900E;
    border: none;
    border-radius: 8px;
}
/* =============================
second section style ends
================================= */

/* =====================
 section third css style start
 =========================  */
 .section-third{
    display: flex;
    width: 90%;
    height: 982px;
    background: white;
    margin-left: 150px;
    margin-top: 20px;
 }


 }
 .third-image{
    width: 600px;
    height: 900px;
 }
 .third-section-header{
    display: flex;
 }
 .horizontal{
    margin-left: 28px;
    width: 5px;
    height: 85px;
    background: #FF900E;
    border: none;
 }
 .third-title{
    position: absolute;
    font-family: 'Work Sans';
    font-style: normal;
    margin-left: 40px;
    margin-top: 29px;
    color: #131313;
    font-size: 31px;
    display: inline-flex;
}

.third-description{
    position: absolute;
   left: 66%;
   top: 1875px;
   font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.third-layout1{
    position: absolute;
    top: 1995px;
    width: 450px;
    height: 150px;
    left: 66%;
    background: #fdefef;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    

}
.third-layout2{
    position: absolute;
    top: 2190px;
    width: 450px;
    height: 150px;
    left: 66%;
    background: #fdefef;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.third-layout3{
    position: absolute;
    top: 2380px;
    width: 450px;
    height: 150px;
    left: 66%;
    background: #fdefef;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.third-layout4{
    position: absolute;
    top: 2580px;
    width: 450px;
    height: 150px;
    left: 66%;
    background: #fdefef;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.third-layout5{
    position: absolute;
    width: 190px;
    height: 100px;
    top: 2740px;
    left: 60%;
    background: #FF900E;
    color: #ffffff;
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    border-radius: 10px;
}
/* ========================================
section third css style end
=========================================== */

/*=======================
section 4 css style start
======================== */
.section-4{
    position: absolute;
    /* background-color:; */
    top: 2910px;
    left: 13%;
}
.forth-title{
    font-family: 'Work Sans';
    font-style: normal;
    color: #131313;

}
.forth-description{
    font-family: 'Work Sans';
    font-style: normal;
    color: #727272; 
}

/* box-1-css style */
.third-box{
    margin-left: 14%;
}
.box-1{
    margin-top: 40px;
    margin-left: 80px;
    box-sizing: border-box;

    position: absolute;
    width: 120px;
    height: 120px;
    border: 2.5px solid #FF900E;
    border-radius: 8px;
    /* transform: rotate(90deg); */
}
.box-img{
    position: absolute;
    left: 32%;
    width: 40px;
    height: 40px;
    top: 5px;
}
.box-title{
    position: absolute;
    font-family: 'Work Sans';
    font-style: normal;
    color: #424242;
    left: 32%;
    top: 28px;
}
.box-description{
    position: absolute;
    font-family: 'Work Sans';
    font-style: normal;
    color: #727272;
    top: 72px;
    left: 10%;
}
/* box 2 css style */
.box-2{
    position: absolute;
    margin-top: 40px;
    margin-left: 300px;
    box-sizing: border-box;

    position: absolute;
    width: 120px;
    height: 120px;
    border: 2.5px solid #FF900E;
    border-radius: 8px;
}
.box-img-2{
    position: absolute;
    left: 32%;
    width: 38px;
    height: 38px;
    top: 5px;
}
.box-title-2{
    position: absolute;
    font-family: 'Work Sans';
    font-style: normal;
    color: #424242;
    left: 22%;
    top: 28px;
}
.box-description-2{
    position: absolute;
    font-family: 'Work Sans';
    font-style: normal;
    color: #727272;
    top: 72px;
    left: 5%; 
}
/*box 3 css style  */
.box-3{
    position: absolute;
    margin-top: 40px;
    margin-left: 520px;
    box-sizing: border-box;

    position: absolute;
    width: 120px;
    height: 120px;
    border: 2.5px solid #FF900E;
    border-radius: 8px;
}
.box-img-3{
    position: absolute;
    left: 32%;
    width: 38px;
    height: 38px;
    top: 5px;
}
.box-title-3{
    position: absolute;
    font-family: 'Work Sans';
    font-style: normal;
    color: #424242;
    left: 27%;
    top: 28px;
}
.box-description-3{
    position: absolute;
    font-family: 'Work Sans';
    font-style: normal;
    color: #727272;
    top: 72px;
    left: 5.9%; 
}
/* box 4 css style */
.box-4{
    position: absolute;
    margin-top: 39px;
    margin-left: 735px;
    box-sizing: border-box;

    position: absolute;
    width: 120px;
    height: 120px;
    border: 2.5px solid #FF900E;
    border-radius: 8px;
}
.box-img-4{
    position: absolute;
    left: 32%;
    width: 38px;
    height: 38px;
    top: 5px;
}
.box-title-4{
    position: absolute;
    font-family: 'Work Sans';
    font-style: normal;
    color: #424242;
    left: 23%;
    top: 28px;
}
.box-description-4{
    position: absolute;
    font-family: 'Work Sans';
    font-style: normal;
    color: #727272;
    top: 72px;
    left: 20%; 
}
/* =========
section 4 css style end
========================= */

/* ======================= footer style ============================= */
.footer{
    position: absolute;
    width: 100%;
    height: 350px;
    /* background: #727272; */
    top: 3250px;
}
.footer-title{
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 15px;
}
.footer-description{
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.footer-img{
    width: 100%;
    margin-left: 10%;
    /* mix-blend-mode: luminosity; */
}
.footer-img-1{
    width: 100px;
    height: 30px;
    margin: 20px 50px 0px 50px;
    mix-blend-mode: luminosity;
}
.footer-img-2{
    margin-right: 30px;
    width: 100px;
    height: 30px;
    margin: 20px 50px 0px 50px;

}
.footer-img-3{
    width: 100px;
    height: 30px;
    margin: 20px 50px 0px 50px;

}
.footer-img-4{
    width: 100px;
    height: 30px;
    margin: 20px 50px 0px 50px;
}
.footer-img-5{
    width: 100px;
    height: 30px;
    margin: 20px 50px 0px 50px;
}
.final-footer{
    position: absolute;
    margin-top: 40px;
    margin-left: 15%;
    width: 900px;
    height: 50px;
    background: #fdefef;
border-radius: 12px;
}
.final-footer-description{
    position: absolute;
    margin-top: 15px;
    margin-left: 25%;
    font-family: 'Work Sans';
    font-style: normal;
    color: #424242;
}
/* all css finish here  */